PyNaCl
dnspython
pymongo[srv]
git+https://github.com/Rapptz/discord.py
git+https://github.com/Gorialis/jishaku
git+https://github.com/mongodb/motor
git+https://github.com/OpenRobot-Packages/Python-API-Wrapper
