git+https://github.com/iDevision/enhanced-discord.py
git+https://github.com/Gorialis/jishaku
git+https://github.com/mongodb/motor/
git+https://github.com/cloudwithax/pomice
git+https://github.com/OpenRobot-Packages/Python-API-Wrapper
git+https://github.com/jay3332/expr.py
PyNaCl
